[submodule "zsh/antigen"]
	path = zsh/antigen
	url = git://github.com/zsh-users/antigen.git
[submodule "zsh/z"]
	path = zsh/z
	url = git://github.com/rupa/z.git
[submodule "zsh/now"]
	path = zsh/now
	url = git://github.com/apankrat/now.sh.git
